@aquamarine:#66ffc2;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.color(@color){
  color: @color;
}

@charset "UTF-8";
.jumbotron {
  background-color: @aquamarine;
  .color(black);
  .margenes(10px, 25px);}

.btn {
  /*background-color: #808080;*/
  /*color: white;*/ }

.footer {
  padding: 10px 10px 0 10px;
  background-color: RGB(52, 58, 64);
  .margenes(20px);
  color: white; }

.card-hotel {
  /*l: cuánto queremos que crezca el elemento*/
  /*150px: cuánto queremos que sea el ancho*/
  flex: 1 200px;
  .margenes(10px, 10px);
  border-radius: 5px; }

.btn-reserve {
  width: 100%;
  border-radius: 0px 0px 5px 5px; }

.footer-address-icon {
  padding-right: 13px; }

.btn-enviar {
  background-color: RGB(41, 122, 252); }

.btn-comprar {
  background-color: RGB(37, 167, 75); }

.price-column {
  padding: 5px 10px 5px 10px; }
