$aquamarine: #66ffc2;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $aquamarine;
	color: black;
	@include margenes(15px, 25px);
}

.btn {
	/*background-color: #808080;*/
	/*color: white;*/
}
.footer {
	padding: 10px 10px 0 10px;
	background-color: RGB(52,58,64);
	@include margenes(20px, 0px);
	color: white;
}
.card-hotel {
	/*l: cuánto queremos que crezca el elemento*/
	/*150px: cuánto queremos que sea el ancho*/
	flex: 1 200px;
	@include margenes(10px, 0px);
	border-radius: 5px;
}
.btn-reserve {
	width: 100%;
	border-radius: 0px 0px 5px 5px;


}

.footer-address-icon {
	padding-right: 13px
}

.btn-enviar {
	background-color: RGB(41,122,252)
}

.btn-comprar {
	background-color: RGB(37,167,75)
}

.price-column {
	padding: 5px 10px 5px 10px
}


